*{
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

.cuerpo {
  background: rgb(242, 82, 232);
  background: linear-gradient(
    90deg,
    rgba(242, 82, 232, 1) 0%,
    rgba(137, 52, 193, 1) 36%,
    rgba(54, 52, 115, 1) 100%
  );
}

.form_clients{
	width: 60%;
	max-width: 500px;
	margin: auto;
	border: solid 3px #f29b30;
	border-radius: 7px;
}

.container_input{
	text-align: center;
}

.tittle_form_clients{
	background: f29b30;
	color: #fff;
	padding: 8px;
	text-align: center;
	font-weight: 100px;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.container_input{
	padding: 5px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tabla_clients{
	text-align: left;
	width: 100%;
	border: 2px solid #f29b30;
}

.Table-btn{
	text-align: center;
	border: 2px solid #f29b30;
}

.input-50{
	width: 50%;
}

.btn-registrarse{
	background: #f29b30;
	color: #fff;
	margin: auto;
	padding: 7px 30px;
	cursor: pointer;
	border-radius: 7px;
}

.btn-registrarse:active{
	transform: scale(1.05);
}

td{
	color: white;
}