*{
	margin: 0;
	padding: 0;
	font-family: "open sans", sans-serif;
	color: white;
}


.cuerpo{
	background: rgb(242,82,232);
	background: linear-gradient(90deg, rgba(242,82,232,1) 0%, rgba(137,52,193,1) 36%, rgba(54,52,115,1) 100%);
}

.contenedor{
	border: solid 2px #F29B30;
	width: 1000%;
	max-width: 1000px;
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
}


.cabecera{
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 220px;
}

.cabecera img{
	width: 150px;
}

.cabecera h1{
	position: absolute;
	top: 40px;
	left: 270px;
	color: #F29B30;
}

.cabecera_frase{
	position: absolute;
	top: 80px;
	left: 255px;
}

.link{
	margin: 10px 10px 0 0;
	position: absolute;
	background: none;
	height: auto;
	width: unset;
	border: none;
	top: 5px;
	left: 700px;
}

.link1{
	color: #F29B30;
	padding: 5px;
	border-radius: 3px;
}

.link2{
	color: #F29B30;
	padding: 5px;
	border-radius: 3px;
}

.link3{
	color: #F29B30;
	padding: 5px;
	border-radius: 3px;
}


.galerias{
    width: 800px;
	height: 600px;
	border-radius: 20px;
	overflow: hidden;
}


.galeria_lienzo{
	width: 500%;
	height: 500px;
	display: flex;
}

.galeria_lienzo input{
	display: none;
}

.galeria_contenedores{
	display: flex;
	width: 20%;
	height: 50px;
	transition: 2s;
}

.galeria_contenedores img{
	align-content: center;
	justify-content: center;
    display: flex;
    width: 800px;
    height: 500px
}

.controles{
	width: 1000px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	position: absolute;
}

label{
	border: 2px solid #f29b30;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 2s;
}

label:not(:last-child){
    margin-right: 40px;
}

label:hover{
	background: #f29b30;
}

.elemento1:checked~.galeria_contenedores{
	margin-left: 0;
}

.elemento2:checked~.galeria_contenedores{
	margin-left: -20%;
}

.elemento3:checked~.galeria_contenedores{
	margin-left: -40%;
}